@import '/src/styles/colors';
@import '/src/styles/responsive';

@media screen and (max-width: $small-max-width) {
	#projects-title {
		margin-bottom: 1rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	#gallery-container {
		position: relative;

		#gallery {
			gap: 4rem !important;

			#gallery-cards {
				margin: 0 2rem;

				.previous,
				.secondary,
				.next,
				.hidden {
					display: none;
				}
			}
		}

		.gallery-button {
			position: absolute !important;
			background: none !important;
			bottom: 2rem;

			&#previous {
				left: 5%;
			}

			&#next {
				right: 5%;
			}
		}
	}
}

@media screen and (min-width: $medium-min-width) {
	#projects-title {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 2rem;
		margin: 2rem 0 1rem 0;

		h1 {
			margin: 0;
			padding-bottom: 0.25em;
		}
	}
}

@media screen and (min-width: $medium-min-width) and (max-width: $medium-max-width) {
	#gallery-container {
		#gallery-cards {
			grid-template-columns: repeat(3, 70%);

			.previous {
				grid-column: 1/2;
			}

			.primary {
				grid-column: 2/3;
			}

			.secondary {
				grid-column: 3/4;
			}

			.next,
			.hidden {
				display: none;
			}
		}
	}
}

@media screen and (min-width: $large-min-width) {
	#gallery-cards {
		grid-template-columns: repeat(4, 40%);

		.previous {
			grid-column: 1/2;
		}

		.primary {
			grid-column: 2/3;
		}

		.secondary {
			grid-column: 3/4;
		}

		.next {
			grid-column: 4/5;
		}

		.hidden {
			display: none;
		}
	}
}

#featured-projects {
	#projects-title {
		#all-projects {
			border: 0.25rem solid $color-primary;
			background-color: transparent;
			color: $color-primary;

			&:hover {
				background-color: $color-primary;
				color: $background-primary;
			}
		}
	}

	#gallery-container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		overflow: hidden;

		background-color: $background-secondary;
		border-radius: 2rem;
		box-shadow: 0 0 1rem $background-shadow inset;

		#gallery {
			display: flex;
			flex-direction: column;
			// justify-content: center;
			align-items: center;
			gap: 3rem;
			padding: 3rem 0;

			#gallery-cards {
				display: grid;
				justify-content: center;
				gap: 2rem;
			}

			#gallery-bullets {
				display: flex;
				gap: 1rem;

				color: $text-secondary;

				.current {
					color: $text-primary;
				}
			}
		}

		.gallery-button {
			display: flex;
			align-items: center;
			position: relative;
			z-index: 1;

			&#previous {
				padding-left: 3rem;
				background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
			}

			&#next {
				padding-right: 3rem;
				background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
			}

			button {
				width: 4rem;
				aspect-ratio: 1;
			}
		}
	}
}
