@import '/src/styles/colors';

.toolbar-dropdown {
	.dropdown-button {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.5rem;

		.dropdown-label {
			margin-bottom: 0.25rem;
		}
	}

	.dropdown-list {
		// display: block;
		// z-index: 10;
		position: absolute;
		margin-top: 1rem;
		// top: 10px;

		padding: 2rem;

		background-color: $background-secondary;
		border-radius: 1rem;
		box-shadow: 0 0 10px $background-shadow;
	}
}
