@import '/src/styles/colors';
@import '/src/styles/responsive';
@import '/src/styles/text';

#footer {
	width: 100%;
	margin-top: 10rem;
	padding: 2rem 0;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background-color: #0e0e0e;

	#footer-copyright {
		text-align: center;
		font-size: 2rem;
		font-family: $font-secondary;
	}
}
