@import '/src/styles/colors';
@import '/src/styles/responsive';

.projects-toolbar {
	width: 100%;
	margin-bottom: 2rem;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;

	.toolbar-section {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 1rem;
	}

	.toolbar-separator {
		width: 1px;
		background-color: $text-primary;
		box-shadow: 0 0 3px 1px $background-shadow;
	}

	#dropdown-sections {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 2rem;

		.dropdowns {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
		}
	}
}

@media screen and (max-width: $small-max-width) {
	.projects-toolbar {
		.toolbar-section {
			flex-direction: column;
			align-items: flex-start;
		}

		.toolbar-separator {
			display: none;
		}

		#project-count {
			display: none;
		}

		#dropdown-sections {
			flex-direction: column;
			align-items: left;
		}
	}
}

@media screen and (min-width: $medium-min-width) and (max-width: $medium-max-width) {
	.projects-toolbar {
		.toolbar-separator {
			display: none;
		}

		#project-count {
			display: none;
		}
	}
}

@media screen and (min-width: $large-min-width) {
	.projects-toolbar {
		.toolbar-separator {
			display: block;
		}
	}
}
