$background-primary: #242424;
$background-secondary: #2e2e2e;
$background-tertiary: #3a3a3a;
$background-shadow: black;

$color-primary: #FFBF00;
$highlight-primary: #FFDB6D;

$text-primary: #ffffffde;