$background-primary: #242424;
$background-secondary: #2e2e2e;
$background-tertiary: #3a3a3a;
$background-shadow: black;

$color-primary: #ffbf00;
$highlight-primary: #ffdb6d;

$color-secondary: hsl(346, 63%, 50%);
$highlight-secondary: hsl(346, 50%, 55%);

$text-primary: #ffffffde;
