@import '/src/styles/responsive';

@media screen and (max-width: $small-max-width) {
	#resume-download {
		margin-top: 2rem;
		a {
			font-size: 2rem;
		}
	}

	#pdf-container {
		display: none;
	}

	#pdf-embed,
	#resume-img {
		width: 100%;
		aspect-ratio: 8.5/11;
	}
}

@media screen and (min-width: $medium-min-width) {
	#resume-download {
		a {
			font-size: 2.5rem;
		}
	}

	#pdf-embed,
	#resume-img {
		display: none;
	}
}

#resume {
	width: 100%;

	#resume-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4rem;
	}

	#resume-download {
		display: flex;
		justify-content: center;

		a {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1rem;

			padding: 0.5rem 2rem;

			span {
				margin-bottom: 0.2em;
			}
		}
	}

	#pdf-container {
		width: 75%;
		aspect-ratio: 8.5/11;
		toolbar: 0;
	}

	#pdf-container,
	#resume-img {
		box-shadow: 0 0 1rem black;
	}
}
