@import '/src//styles/colors';
@import '/src/styles/text';

$github-color: #8241f9;
$linkedin-color: #0077b5;

@media screen and (max-width: 767px) {
	#social-links {
		gap: 1rem;

		.social-link {
			width: 5rem;
			aspect-ratio: 1;
			padding: 1rem 1.5rem;
			background-color: $background-secondary;
			border-radius: 50%;
		}
	}

	#label {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	#social-links {
		gap: 2rem;

		.social-link {
			padding: 0.5rem 2rem;
			border-radius: 5rem;

			&:hover {
				background-color: $color-primary;

				#icon {
					color: $background-primary;
				}

				#label {
					color: $background-primary;
				}
			}
		}
	}

	#label {
		margin-bottom: 0.25em;
		color: $text-primary;
	}
}

#social-links {
	margin: 2rem;

	display: flex;
	flex-direction: row;
	justify-content: center;

	.social-link {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 1rem;

		font-family: $font-secondary;
		font-size: 2.5rem;
	}
}

#github {
	color: $github-color;
}

#linkedin {
	color: $linkedin-color;
}

#freecodecamp {
	color: white;
}
