@import '/src/styles/colors';

@media screen and (max-width: 767px) {
	.dropdown-list {
		position: absolute;
		left: 2rem;
		// right: 2rem;

		// width: 80%;
		margin-top: 1rem;

		padding: 2rem;

		background-color: $background-secondary;
		border-radius: 1rem;
		box-shadow: 0 0 10px $background-shadow;
	}
}

@media screen and (min-width: 768px) {
	.dropdown-list {
		position: absolute;
		margin-top: 1rem;

		padding: 2rem;

		background-color: $background-secondary;
		border-radius: 1rem;
		box-shadow: 0 0 10px $background-shadow;
	}
}

.toolbar-dropdown {
	.dropdown-button {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.5rem;

		.dropdown-label {
			margin-bottom: 0.25rem;
		}
	}

	.dropdown-list {
		.dropdown-option {
			display: flex;
			gap: 1rem;
		}
	}
}
