@import './styles/colors';
@import './styles/general';
@import './styles/icons';
@import './styles/responsive';
@import './styles/text';

* {
	box-sizing: border-box;
}

:root {
	font-size: 10px;
}

body {
	// sizing
	width: 100vw;
	margin: 0;
	padding: 0;

	//color
	background-color: $background-primary;
	color: white;

	//text
	font-family: $font-primary;
	font-size: 1.5rem;
}

main {
	margin: 0 2rem;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;

	.content {
		flex-grow: 1;
		max-width: 100%;
	}
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
	main {
		.content {
			max-width: min(100%, $large-max-width);
		}
	}
}
