@import './styles/colors';
@import './styles/general';
@import './styles/icons';
@import './styles/responsive';
@import './styles/text';

* {
	box-sizing: border-box;
}

:root {
	font-size: 10px;
}

body {
	// sizing
	width: 100vw;
	margin: 0;
	padding: 0;

	//color
	background-color: $background-primary;
	color: white;

	//text
	font-family: $font-primary;
	font-size: 1.5rem;
}

@media screen and (max-width: 767px) {
	main {
		margin: 2rem;
	}
}

@media screen and (min-width: 768px) {
	main {
		max-width: $large-max-width;
		margin: 0 auto;
	}
}
