@import '/src/styles/colors';

#banner {
	// position: relative;
	width: 100%;

	// #banner-background {
	// 	background-color: white;
	// }

	#banner-main {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		background-color: $highlight-primary;
		color: $background-primary;

		#banner-text {
			margin: 0.5rem;
			font-size: 1.25rem;
		}

		#banner-button {
			margin: 0;
			padding: 0.25rem 0.5rem;
			border-radius: 1rem;
			background-color: $background-primary;
			color: $highlight-primary;
		}
	}
}
